In [0]:
import pandas as pd

In [0]:
read_train=pd.read_csv("train_data.csv")

In [0]:
read_test=pd.read_csv("test_data.csv")

In [7]:
read_train.head(30)

    Unnamed: 0  PassengerId  Survived  Sex  ...  Title_4  Emb_1  Emb_2  Emb_3
0            0            1         0    1  ...        0      0      0      1
1            1            2         1    0  ...        0      1      0      0
2            2            3         1    0  ...        1      0      0      1
3            3            4         1    0  ...        0      0      0      1
4            4            5         0    1  ...        0      0      0      1
5            5            6         0    1  ...        0      0      1      0
6            6            7         0    1  ...        0      0      0      1
7            7            8         0    1  ...        0      0      0      1
8            8            9         1    0  ...        0      0      0      1
9            9           10         1    0  ...        0      1      0      0
10          10           11         1    0  ...        1      0      0      1
11          11           12         1    0  ...        1      0      0      1
12          12           13         0    1  ...        0      0      0      1
13          13           14         0    1  ...        0      0      0      1
14          14           15         0    0  ...        1      0      0      1
15          15           16         1    0  ...        0      0      0      1
16          16           17         0    1  ...        0      0      1      0
17          17           18         1    1  ...        0      0      0      1
18          18           19         0    0  ...        0      0      0      1
19          19           20         1    0  ...        0      1      0      0
20          20           21         0    1  ...        0      0      0      1
21          21           22         1    1  ...        0      0      0      1
22          22           23         1    0  ...        1      0      1      0
23          23           24         1    1  ...        0      0      0      1
24          24           25         0    0  ...        1      0      0      1
25          25           26         1    0  ...        0      0      0      1
26          26           27         0    1  ...        0      1      0      0
27          27           28         0    1  ...        0      0      0      1
28          28           29         1    0  ...        1      0      1      0
29          29           30         0    1  ...        0      0      0      1

[30 rows x 17 columns]

In [8]:
read_test.head(30)

    Unnamed: 0  PassengerId  Survived  Sex  ...  Title_4  Emb_1  Emb_2  Emb_3
0          791          792         0    1  ...        0      0      0      1
1          792          793         0    0  ...        1      0      0      1
2          793          794         0    1  ...        0      1      0      0
3          794          795         0    1  ...        0      0      0      1
4          795          796         0    1  ...        0      0      0      1
5          796          797         1    0  ...        0      0      0      1
6          797          798         1    0  ...        0      0      0      1
7          798          799         0    1  ...        0      1      0      0
8          799          800         0    0  ...        0      0      0      1
9          800          801         0    1  ...        0      0      0      1
10         801          802         1    0  ...        0      0      0      1
11         802          803         1    1  ...        0      0      0      1
12         803          804         1    1  ...        0      1      0      0
13         804          805         1    1  ...        0      0      0      1
14         805          806         0    1  ...        0      0      0      1
15         806          807         0    1  ...        0      0      0      1
16         807          808         0    0  ...        1      0      0      1
17         808          809         0    1  ...        0      0      0      1
18         809          810         1    0  ...        0      0      0      1
19         810          811         0    1  ...        0      0      0      1
20         811          812         0    1  ...        0      0      0      1
21         812          813         0    1  ...        0      0      0      1
22         813          814         0    0  ...        1      0      0      1
23         814          815         0    1  ...        0      0      0      1
24         815          816         0    1  ...        0      0      0      1
25         816          817         0    0  ...        1      0      0      1
26         817          818         0    1  ...        0      1      0      0
27         818          819         0    1  ...        0      0      0      1
28         819          820         0    1  ...        0      0      0      1
29         820          821         1    0  ...        0      0      0      1

[30 rows x 17 columns]

In [0]:
features=read_train.iloc[0:30,3:]

In [10]:
features

    Sex     Age      Fare  Pclass_1  ...  Title_4  Emb_1  Emb_2  Emb_3
0     1  0.2750  0.014151         0  ...        0      0      0      1
1     0  0.4750  0.139136         1  ...        0      1      0      0
2     0  0.3250  0.015469         0  ...        1      0      0      1
3     0  0.4375  0.103644         1  ...        0      0      0      1
4     1  0.4375  0.015713         0  ...        0      0      0      1
5     1  0.3500  0.016510         0  ...        0      0      1      0
6     1  0.6750  0.101229         1  ...        0      0      0      1
7     1  0.0250  0.041136         0  ...        0      0      0      1
8     0  0.3375  0.021731         0  ...        0      0      0      1
9     0  0.1750  0.058694         0  ...        0      1      0      0
10    0  0.0500  0.032596         0  ...        1      0      0      1
11    0  0.7250  0.051822         1  ...        1      0      0      1
12    1  0.2500  0.015713         0  ...        0      0      0      1
13    1  0.4875  0.061045         0  ...        0      0      0      1
14    0  0.1750  0.015330         0  ...        1      0      0      1
15    0  0.6875  0.031230         0  ...        0      0      0      1
16    1  0.0250  0.056848         0  ...        0      0      1      0
17    1  0.3500  0.025374         0  ...        0      0      0      1
18    0  0.3875  0.035134         0  ...        0      0      0      1
19    0  0.3500  0.014102         0  ...        0      1      0      0
20    1  0.4375  0.050749         0  ...        0      0      0      1
21    1  0.4250  0.025374         0  ...        0      0      0      1
22    0  0.1875  0.015672         0  ...        1      0      1      0
23    1  0.3500  0.069291         1  ...        0      0      0      1
24    0  0.1000  0.041136         0  ...        1      0      0      1
25    0  0.4750  0.061264         0  ...        0      0      0      1
26    1  0.3500  0.014102         0  ...        0      1      0      0
27    1  0.2375  0.513342         1  ...        0      0      0      1
28    0  0.3500  0.015379         0  ...        1      0      1      0
29    1  0.3500  0.015412         0  ...        0      0      0      1

[30 rows x 14 columns]

In [11]:
label=read_test.iloc[0:30,2]
label

0     0
1     0
2     0
3     0
4     0
5     1
6     1
7     0
8     0
9     0
10    1
11    1
12    1
13    1
14    0
15    0
16    0
17    0
18    1
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    1
Name: Survived, dtype: int64

In [0]:
from sklearn.tree import DecisionTreeClassifier

In [0]:
dtc=DecisionTreeClassifier()

In [0]:
trained=dtc.fit(features,label)

In [0]:
from sklearn.metrics import accuracy_score

In [0]:
test_data=read_test.iloc[0:30,3:]

In [0]:
prediction=trained.predict(test_data)

In [18]:
prediction

array([0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 1])

In [0]:
survival=accuracy_score(label,prediction)

In [20]:
survival

0.6333333333333333